body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: white;

}

header{
    display: flex;
    background-color: aqua;
}

.logo{
    display: flex;

}

.logo img{
    height: 50px;
}